body {
	background: #f4f4f4;
	font-family: "Libre Baskerville", sans-serif;
	line-height: 1.6;
	color: #222;
}

* {
	box-sizing: border-box;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

a {
	text-decoration: none;
